.TipsUpdateInput{
    width: 100%;
    height: 32px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 10px;
    border: 1px solid black;
}

.TipsUpdateFormContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    text-align: center;
}