.boardDescription {
  padding: 5%;
  padding-left: 3%;
}

.boardDescription .updateButton {
  margin: 10px;
  margin-left: 0;
  border: 0;
  background-color: transparent;
}

.boardDescription .pencil {
  width: 20px;
}

.boardDescription .delete {
  margin: 2px;
  border: 0;
  background-color: transparent;
}

.boardDescription .gomi {
  width: 20px;
}

.boardDescription .title {
  font-family: "Nanum Pen Script";
  margin-bottom: 0;
}

.boardDescription .date {
  margin-top: 0;
  font-family: "Nanum Pen Script";
  font-size: larger;
}

.boardDescription .text {
  font-family: "Nanum Pen Script";
}

.boardDescription .comentText {
  font-family: "Nanum Pen Script";
}
