.boardList {
  margin-top: 12%;
}

.boardList .descriptions {
  border-radius: 20px;
  margin: 3px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  padding: 3%;
  outline: 2px rgb(219, 179, 122) solid;
}

.boardList .text {
  color: rgb(102, 88, 68);
}

.boardList .buttonGroup {
  margin: 10px;
  text-align: end;
}

.boardList .createButton {
  border: 0;
  background-color: transparent;
  text-align: center;
  margin-right: 18vw;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  color: #dcb893;
  font-weight: 500;
  font-size: small;
  outline: 3px solid;
  outline-color: #dcb893;
  background-color: #eeeae8;
}

.boardList .day {
  text-align: end;
  margin-right: 7px;
}
