/* 'Category_Select.jsx'의 CSS 파일 */
.categorySelect body {
  margin: 0;
}

.categorySelect {
  overflow: hidden;
}

.categorySelect h5 {
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: #dcb893;
  text-shadow: 2px 2px 2px white;
}

.categorySelect .loginPath {
  text-align: center;
}

.categorySelect .loginPath p {
  text-align: center;
  color: rgb(21, 142, 255);
  font-size: 14px;
}

.categorySelect .choice {
  width: 200vw;
  float: left;
  margin-top: 5vh;
}

.categorySelect .choiceHave {
  float: right;
  margin-right: 4%;
  display: flex;
  margin-bottom: 0;
}

.categorySelect .content {
  overflow: hidden;
  padding: 1%;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 200vw;
  height: 55vh;
  transition: transform 0.5s;
}

.categorySelect .textBox {
  margin: 6vh 0 0 25px;
}

.categorySelect .horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.categorySelect .buttonGroup {
  text-align: center;
}

.categorySelect .buttonOn {
  border: 0;
  background-color: transparent;
  background-color: white;
  padding: 3px;
  transform: scale(1.5);
  border-radius: 50%;
  outline: 1px solid;
  outline-color: #dcb893;
  margin: 5px;
  transition: all ease 0.5s;
}

.categorySelect .buttonOff {
  border: 0;
  background-color: transparent;
  background-color: #eeeae8;
  padding: 3px;
  border-radius: 50%;
  outline: 1px solid;
  outline-color: #e0cbb6;
  margin: 5px;
  transition: all ease 0.5s;
}

.categorySelect .buttonBox {
  text-align: center;
  margin-top: 15dvh;
  margin-bottom: 10px;
}

.categorySelect .buttonYes {
  border: 0;
  background-color: transparent;
  text-align: center;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  color: #dcb893;
  font-weight: 700;
  font-size: large;
  outline: 3px solid;
  outline-color: #dcb893;
  background-color: #eeeae8;
}
