/* 'Category_Select.jsx'의 CSS 파일 */

body {
  margin: 0;
}

h5 {
  color: white;
}

p {
  color: rgb(21, 142, 255);
  font-size: small;
  text-align: right;
  margin-top: 13%;
}

.wrapper {
  display: flex;
  min-height: 100dvh;
  background: black;
}

.content {
  background: black;
  padding: 1%;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.buttonBox {
  text-align: center;
  margin-top: 55dvh;
}

.button1 {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: large;
  outline: auto;
  outline-width: 5px;
  outline-color: white;
  background-color: black;
}

.slide {
  padding: 15px;
  min-height: 100px;
  color: #fff;
}

.slide1 {
  background-color: #fea900;
}

.slide2 {
  background-color: #b3dc4a;
}

.slide3 {
  background-color: #6ac0ff;
}