/* 'Category_Select.jsx'의 CSS 파일 */

body {
  margin: 0;
  background-color: black;
}

.CategorySelect {
  overflow: hidden;
}

h5 {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.choice {
  width: 200vw;
  float: left;
  margin-top: 5vh;
}

.choiceHave {
  float: right;
  margin-right: 1%;
  display: flex;
  margin-bottom: 0;
}

p {
  color: rgb(21, 142, 255);
  font-size: small;
  text-align: right;
  margin-top: 13%;
}

.wrapper {
  background: black;
  height: 55vh;
}

.content {
  overflow: hidden;
  background: black;
  padding: 1%;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 200vw;
  transition: transform 0.5s
}

.horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.buttonGroup {
  text-align: center;
}

.button1 {
  background-color: white;
  padding: 3px;
  transform: scale(1.5);
  border-radius: 50%;
  margin: 5px;
  transition: all ease 0.5s;
}

.button2 {
  background-color: rgb(50, 50, 50);
  padding: 3px;
  border-radius: 50%;
  margin: 5px;
  transition: all ease 0.5s;
}

.buttonBox {
  text-align: center;
  margin-top: 10dvh;
}

.button3 {
  text-align: center;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: large;
  outline: auto;
  outline-width: 5px;
  outline-color: white;
  background-color: black;
}