.MenuIcon {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.MenuModalContent {
  background-color: white;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.MenuModalContent a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
