.container{
  display:flex;
  height:100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginInput{
  margin-top:2%;
  flex-basis: 5%;
  width: 90%;
  background: #EFEFEF;
  border-radius: 10px;
}

.loginButton{
  margin-top: 5%;
  flex-basis:5%;
  width: 30%;
  background: #424242;
  border-radius: 20px;
}

.error {
  color:red;
}
