.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 20px auto;
  width: 80%;
  height: 25vh;
  background-color: #f7f2ed;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 2px 2px #dcb893;
}

.userName {
  margin: 0 0 0 10%;
  font-style: normal;
}

.userBirth {
  margin: 0 0 0 10%;
  font-style: normal;
}

.dogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 45vh;
  background-color: #f7f2ed;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 2px 2px #dcb893;
}
