/* WantMBTI.jsx의 CSS 파일 */
.wantMBTI {
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* O */
#X {
  position: absolute;
  width: 10%;
  height: 20%;
  left: 10%;
  top: 40%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 61px;
  /* identical to box height */

  color: #777777;
}
#O {
  /* X */
  position: absolute;
  width: 10%;
  height: 20%;
  left: 80%;
  top: 40%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 61px;
  /* identical to box height */

  color: #777777;
}
