/* wantMBTIResult.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  overflow: hidden;
}

.wantMBTIResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dogResultTitle {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
}

.slider {
  margin-top: 15%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.dogCard {
  width: 80%;
  height: 55vh;
  flex: 0 0 auto;
  margin: 0 10%;
  background-color: #f5ebe0;
  border-radius: 19px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dogCard.active {
  transform: scale(1);
  opacity: 1;
}

.dogCard.prev,
.dogCard.next {
  transform: scale(0.9);
  opacity: 0.5;
}

.dogImage {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dogCard h2 {
  font-size: 2.5em;
  color: #dcb893;
  text-align: left;
  margin: 0 0 0 20px;
}

.dogCharacter {
  color: #dcb893;
  font-size: 1em;
  text-align: left;
  margin: 0 0 0 20px;
}

.dogText {
  font-size: 1em;
  color: #777;
  padding: 0 10px 20px;
}

@media (max-width: 600px) {
  .dogResultTitle {
    font-size: 1.5em;
  }

  .dogCard {
    min-width: 90%;
    max-width: 90%;
    margin: 0 5%;
  }
}
