/* WantMBTIQCard.jsx의 CSS 파일 */
#card {
  background: linear-gradient(-45deg, #f5ebe0 50%, #f7f2ed 50%);
  box-shadow: 0px 3px 2px #dcb893;
  border: #dabb9c 0.5px solid;
  border-radius: 19px;
  width: 50%;
  height: 55%;
  top: 25%;
  left: 25%;
  transition: transform 0.2s ease;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.question {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 42%;
  font-size: 1em;
  font-weight: 1.4em;
  color: #dbb186;
}

.right {
  animation: rightFly 0.5s ease 1;
}

.left {
  animation: leftFly 0.5s ease 1;
}

@keyframes rightFly {
  0% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: 500px;
    opacity: 0;
  }
}

@keyframes leftFly {
  0% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: -500px;
    opacity: 0;
  }
}
